.buttons{
    font-size: 15px;
    letter-spacing: 2px;
    position: absolute;
    top: 20px;
    display: flex;
    align-self: start;
}

.cancel-btn{
    cursor: pointer;
}
.cancel-btn:hover{
    color: red;
}


.input{
    width: 60%;
    height: 40px;
    max-width: 240px;
}

.content{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80%;
    justify-content: space-evenly;
}

.new-password-div{
    display: flex;
    flex-direction: row;
}

.left-column,
.right-column{
    display: flex;
    flex-direction: row;
    width: 50%;
}

.text-before{
    margin-right: 20px;
    text-align: end;
    font-size: 23px;
}

.confirm-btn{
    display: flex;
    width: 25%;
    align-self: center;
    justify-content: center;
    letter-spacing: 2px;
    height: 35px;
}
