.window{
    display: flex;
    flex-direction: column;
    width: 80%;
    align-self: center;
}

.order-id-div{
    align-self: start;
    font-size: 35px;
    font-weight: 600;
    margin: 40px;
}

.product-list-in-order{
    width: 50%;
}

.product-tile-info{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 10px;
    justify-content: space-between;
}

.product-info{
    font-size: 20px;
}

.total-cost{
    display: flex;
    font-size: 22px;
    font-weight: 520;
    width: 100%;
    justify-content: flex-end;
}

